@import url("https://p.typekit.net/p.css?s=1&k=bkx3uli&ht=tk&f=16353.37462.37464.37466&a=41161691&app=typekit&e=css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "porsche";
  src: url("./assets/fonts/PorscheNext-Regular.otf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "porsche";
  font-style: normal;
  color: #10190a;
}

html {
  /* scroll-snap-type: y mandatory; */
}

section {
  /* scroll-snap-align: start; */
}

body {
  background-color: rgb(235, 235, 235, 1);
}

button {
  transition: 0.2s linear;
}

.custom-transition {
  transition: 0.1s linear;
}
